[submodule "third_party/pybind11"]
    path = third_party/pybind11
    url = https://github.com/SakuraTomoya-Wzy/ARM-for-KTransformers.git
    branch = pybind11

[submodule "third_party/llama.cpp"]
    path = third_party/llama.cpp
    url = https://github.com/SakuraTomoya-Wzy/ARM-for-KTransformers.git
    branch = llamacpp
